<img src= "https://as.com/meristation/imagenes/2020/02/13/noticias/1581576624_508899_1581576871_noticia_normal.jpg"/>

# Probemos los modelos...

![img](https://img.pokemondb.net/artwork/melmetal.jpg)

In [145]:
test = np.array([[580.0,90.0,85.0,100.0,95.0,125.0,85.0]])

<img src="https://images.gameinfo.io/pokemon/256/493-11.png" weidth="400"/>

In [239]:
test2 = np.array([[720.0,120.0,120.0,120.0,120.0,120.0,120.0]])

## ¿Será legendario Melmetal.... y qué tal Arceus?

## ¿Será?

# Ejercicio

En esta sección deberán realizar un nuevo dataframe, pero considerando las siguientes características (ojo!, ya no son sólo de tipo normal y legendario...)

In [212]:
pokedex.status.unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

El objetivo ahora será realizar intercambio de la variable categórica "Status" por una nueva que le asigne un número en lugar de texto

In [214]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

Posteriormente, deberán hacer el procedimiento "normal" para los siguientes algoritmos
* Regresion Logística
* SVM (con kernel rbf - Gaussiano o radial)
* Decision Tree
* Random Forest

## ¿Cuál de los algoritmos podrá decir cual es el tipo correcto de los dos pokemon?

### Impriman los Accuracy de la siguiente manera para cada modelo

In [219]:
pd.DataFrame({"Accurancy on Train":[accuracy_score()],
    "Accurancy on Test":[accuracy_score()]})

C:\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

   Accurancy on Train  Accurancy on Test
0            0.891051            0.85214

### Probemos ahora los modelos!

### ¿Alguno mejora si aplicamos CV?

In [227]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=123)
i = 1

# Recordemos que estamos ante un problema de desbalance de clases muy intenso!

               count      mean       std  min  25%  50%  75%  max
status
Legendary       39.0  5.128205  2.202624  1.0  3.0  5.0  7.0  8.0
Mythical        29.0  4.724138  1.623412  1.0  4.0  5.0  6.0  7.0
Normal         915.0  3.925683  2.242163  1.0  2.0  4.0  5.0  8.0
Sub Legendary   45.0  4.844444  1.999495  1.0  3.0  5.0  7.0  7.0